h1 {
    background-color: rgb(218, 125, 125);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding-left: 10px;
}

h2 {
    color: rgb(218, 125, 125);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

p, li {
    font-family: 'Courier New', Courier, monospace;
}
